<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
    <ul>
    <% @project.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :project_name %><br />
    <%= f.text_field :project_name %>
  <div class="field">
    <%= f.label :client %><br />
    <%= f.text_field :client %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :responsible_user %><br />
    <%= f.text_field :responsible_user %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :work_type %>
    <%= f.select :work_type, options_for_select([['Development', 0], ['Marketing', 1], ['Consulting', 2], ['Design', 3] ]) %>
  </div>

  <br />
  <%= f.fields_for :ci do |ci_f| %>
    <h3>Contact Info</h3>
    <div class="field">
      <%= ci_f.label :name %><br />
      <%= ci_f.text_field :name %>
    </div>
    <div class="field">
      <%= ci_f.label :phone_number %><br />
      <%= ci_f.text_field :phone_number %>
    </div>
    <div class="field">
      <%= ci_f.label :email_address %><br />
      <%= ci_f.text_field :email_address %>
    </div>
    <div class="field">
      <%= ci_f.label :fax %><br />
      <%= ci_f.text_field :fax %>
    </div>
  <% end %>

  <br />
  <br />
  <div class="field">
    <%= f.label :status %>
    <%= f.select :status, options_for_select([['Lead', 0], ['Qualified', 1], ['Proposal', 2], ['Accepted', 3], ['Dead', 4]])%>
  </div>
  <div class="field">
    <%= f.label :attachment %>
    <%= f.file_field :attachment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
