<h1>Listing projects</h1>

<table>
  <tr>
    <th>Project Name</th>
    <th>Contact Info</th>
    <th>Status</th>
    <th>Client</th>
    <th>Price</th>
    <th>Work Type</th>
    <th>Description</th>
    <th>Responsible User</th>
    <th>Timestamps</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.project_name %></td>
    <td><%= project.contact_info %></td>
    <td><%= project.status %></td>
    <td><%= project.client %></td>
    <td><%= project.price %></td>
    <td><%= project.work_type %></td>
    <td><%= project.description %></td>
    <td><%= project.responsible_user %></td>
    <td><%= project.notes %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
