<p id="notice"><%= notice %></p>

<p>
  <b>Project Name:</b>
  <%= @project.project_name %>
</p>

<p>
  <b>Client:</b>
  <%= @project.client %>
</p>

<p>
  <b>Price:</b>
  <%= number_to_currency(@project.price) %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Responsible user:</b>
  <%= @project.responsible_user %>
</p>

<p>
  <b>Notes:</b>
  <%= @project.notes %>
</p>

<p>
  <b>Last Update:</b>
  <%= @project.updated_on.strftime("%m/%d/%Y") %>
</p>

<p>
  <b>Work Type:</b>
  <%= Project::WORK_TYPES[@project.work_type] %>  
</p>

<p>
  <b>Contact Info:</b>
  <p></p>
    <b2>Name:</b2>
  <%= @project.ci.name %>
  <p></p>
    <b2>Phone Number:</b2>
  <%= @project.ci.phone_number %>
  <p></p>
    <b2>Email Address:</b2>
  <%= @project.ci.email_address %>
  <p></p>
    <b2>Fax:</b2>
  <%= @project.ci.fax %>
  <%#= link_to 'Contact Info', @project.ci%>
</p>

<p>
  <b>Status:</b>
  <%= Project::STATUS[@project.status] %>    
</p>

<p>
  <b>Attachment:</b>
  <%= link_to 'Attachment', @project.attachment.url%>
  <p><%#= @project.attachment%></p>
  <%#= image_tag @project.attachment.url %>
  <%#= image_tag @project.attachment.url(:medium) %>
  <%#= image_tag @project.attachment.url(:thumb) %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
